

/* GENERAL
// ------------------------- */

* {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
html {
	overflow-y: scroll;
}

body{
	background-image: url(../img/background.png);
	background-repeat: repeat;
}
header, main, #no-results, footer, .main-container {
	max-width: 1000px;
	margin: 0 auto;
}
main {
	min-height: 360px;
}
.white-container{
	background-color: white;
}
div, a{
	font-family: 'Open Sans';
	font-size: 14px;
}

#left-column, #right-column{
	padding-top: 35px;
	margin-bottom: 3
}
#left-column {
	float: left;
	border-right: 1px solid #E6E6E6;
}
#right-column {
	/*width: 74%;
	margin-left: 26%;*/
}

.main-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0 !important;
}



/* SEARCH INPUT
// ------------------------- */

header {
}
header img {
	position: absolute;
	top: 9px;
	left: 0;
	float: left;
	max-width: 23%;
}
#search-input {
	font-size: 18px;
	font-weight: 100;
	width: 100%;
	padding: 10px 0px 10px 10px;
	border: none;
	border-radius: 3px;
}
#search-input, #search-input:focus {
	transition: border-color .3s ease-in;
	outline: 0;
}
#search-input:focus {
	border-color: #ed5565;
}
#search-input::-webkit-input-placeholder, #search-input:-moz-placeholder, #search-input:-moz-placeholder, #search-input:-ms-input-placeholder {
	font-weight: 100;
	color: #999;
}
#search-input-icon {
	position: relative;
}
#search-input-icon:before {
	position: absolute;
	right: 0;
	bottom: 15px;
	width: 20px;
	height: 20px;
	content: '';
	cursor: default;
	background: url(../img/search_icon.png) no-repeat;
}
#search-input-icon.empty:before {
	cursor: pointer;
	background-image: url(../img/delete_icon.png);
}

.search-header{
	height: 100%;
	width: 100%;
	background-color: #1c688e;
	padding-top: 22px;
	padding-bottom: 22px;
}



/* HITS
// ------------------------- */

#hits {
	margin: 4px 0;
	padding: 10px 0;
}
.hit {
	font-size: 0;
	padding: 8px 0;
}
.hit-image {
	display: inline-block;
	width: 16%;
}
.hit-image img {
	max-width: 100%;
	max-height: 180px;
	border-radius: 4px;
}
.hit-content {
	font-size: 13px;
	font-weight: 300;
	display: inline-block;
	width: 80%;
	margin-left: 3%;
	vertical-align: top;
}
.hit-content .hit-price {
	font-size: 20px;
	float: right;
	margin-left: 20px;
	color: #ed5565;
}
.hit-content .hit-price, .hit-content .hit-name {
	font-weight: normal;
	margin-top: 0;
}
.hit-content em {
	font-style: normal;
	background: #fbdde0;
}
.hit-content .hit-description {
	color: #999;
}

.one-row-stars{
  display: inline-block;
}

.stars{
  height: 15px;
	vertical-align: middle;
}

.stars-count{
  display: inline-block;
  vertical-align: middle;
	margin-bottom: 0;
}

.reviews-count, .area, .food-type, .price-range{
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  color: rgba(112, 112, 112, 60);
	margin-top: 5px;
 	margin-bottom: 5px;

}

.name{
	font-family: 'Open Sans';
	font-size: 16px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 0px;
}

.see-more{
	background: transparent;
	border: none;
	text-align: left;
  width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.see-more:hover .collapse{
	display: block;
}
.see-more:hover .hit-image{
	-webkit-filter: blur(2px);
  filter: blur(2px);

}
.see-more:focus{
	outline:0;
}

.btn-reservation{
	padding: 8px 12px;
	text-decoration: none;
	color: #000;
	border: 1px solid #eee;
	border-right: none;
	margin-top: 5px;
	display: block;
	width: 145px;
}
.btn-reservation:hover{
	background: #f5f5f5;
	text-decoration: none;
}

/* PAGINATION
// ------------------------- */

#pagination {
	margin-top: 60px;
}
#pagination ul {
	font-size: 0;
	list-style-type: none;
	text-align: center;
}
#pagination li {
	font-size: 14px;
	display: inline;
}
#pagination a {
	padding: 8px 12px;
	text-decoration: none;
	color: #000;
	border: 1px solid #eee;
	border-right: none;
	min-width: 300px;
}
#pagination a:hover {
	background: #f5f5f5;
	text-decoration: none;
}
#pagination li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
	border-right: 1px solid #eee;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#pagination li.active a {
	color: white;
	border-color: #ed5565;
	background: #ed5565;
}
#pagination li.active a:hover {
	cursor: default;
}
#pagination li.disabled a {
	cursor: not-allowed;
}
#pagination li.disabled a:hover {
	background: none;
}



/* SORT-BY
// ------------------------- */

#sort-by {
	font-weight: 300;
	position: relative;
	float: right;
	color: #999;
}
#sort-by select {
	font-size: 16px;
	padding-right: 14px;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#sort-by .caret {
	position: absolute;
	top: 8px;
	right: 0;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	pointer-events: none;
	color: #000;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}



/* STATS
// ------------------------- */

#stats {
	min-height: 18px;
}
#stats .found-in {
	font-size: 14px;
	color: #999;
}
#stats h5 {
	font-size: 16px;
	font-weight: 800;
	font-family: 'Open Sans';
	margin: 0 0 6px;
	padding: 0 0 6px;
}

.stats-container{
  margin-bottom: 10px;
}
.stats-left{
  display: inline-block;
  width: 275px;
	text-align: left;
}
.stats-right{
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
}


/* FACETS
// ------------------------- */

.facet {
	margin-bottom: 24px;
	font-family: 'Open Sans';
}
.facet h5 {
	margin: 0 0 6px;
	padding: 0 0 6px;
	font-size: 16px;
	font-weight: 00;
}
.facet ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.facet li {
	margin-bottom: 3px;
	font-size: 14px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
.facet-link {
	font-size: 14px;
	text-decoration: none;
	color: #000;
}
.facet-link:hover, .facet-link.facet-refined {
	color: white !important;
	background-color: #2897C5;
	border-radius: 3px;
  height: 25px;
  line-height: 25px;
}
.facet .facet-link.facet-refined:hover {
	text-decoration: line-through;
	color: white !important;
	background-color: #2897C5;
	border-radius: 3px;
	vertical-align: middle;
  height: 25px;
  line-height: 25px;
}
.facet-count {
	position: relative;
	float: right;
	color: #9A9A9A;
}
.facet-count.facet-refined, .facet-count.facet-refined:hover  {
	color: white;
}
/* Checkboxes */
.facet-disjunctive {
	font-weight: normal;
	position: relative;
	margin-left: 18px;
}
.facet-disjunctive:before {
	position: absolute;
	top: 1px;
	left: -18px;
	width: 16px;
	height: 16px;
	content: '';
	background: url(../img/checkbox_icons.png) 0 0 no-repeat;
}
.facet-disjunctive:hover:before {
	background-position: -24px 0;
}
.facet-disjunctive.facet-refined:before {
	background-position: -48px 0;
}
.facet-disjunctive.facet-refined:hover:before {
	background-position: -72px 0;
}
.push-down{
	padding-top:5px;
}

.stars-facet-0, .stars-facet-1, .stars-facet-2, .stars-facet-3, .stars-facet-4, .stars-facet-5 {
	background-color: transparent;;
  width: 81px;
  height: 15px;
  margin-bottom: 8px;
}
.stars-facet-0{
  background-image: url("../img/0-stars.png");
  background-repeat: no-repeat;
}
.stars-facet-1{
	background-image: url("../img/2-stars.png");
  background-repeat: no-repeat;
}
.stars-facet-2{
	background-image: url("../img/4-stars.png");
  background-repeat: no-repeat;
}
.stars-facet-3{
	background-image: url("../img/6-stars.png");
  background-repeat: no-repeat;
}
.stars-facet-4{
	background-image: url("../img/8-stars.png");
  background-repeat: no-repeat;
}
.stars-facet-5{
	background-image: url("../img/10-stars.png");
  background-repeat: no-repeat;
}


/* No-result
// ------------------------- */

.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
	display: none;
}
#no-results-message {
	text-align: center;
}
#no-results-message p {
	font-size: 28px;
	font-weight: 100;
}
#no-results-message ul {
	list-style-type: none;
}
#no-results-message li {
	font-size: 12px;
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	padding: 4px 28px 4px 8px;
	color: #999;
	border: 1px solid #ddd;
	border-radius: 12px;
}
#no-results-message li span.value {
	font-weight: bold;
	color: #000;
}
#no-results-message li a.remove img {
	position: absolute;
	top: 3px;
	right: 5px;
	float: right;
	width: 17px;
	height: 17px;
	opacity: .5;
}
#no-results-message li a.remove:hover img {
	opacity: 1;
}
a.clear-all {
	font-size: 12px;
	line-height: 1;
	display: inline-block;
	margin: 10px;
	padding: 8px 12px;
	text-decoration: none;
	color: black;
	border: 2px solid #ddd;
	border-radius: 4px;
}
a.clear-all:hover {
	transition: border-color .3s ease-in;
	border-color: #999;
}



/* FOOTER
// ------------------------- */

footer {
	font-size: 14px;
	margin-top: 200px;
	padding-bottom: 24px;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: #ed5565;
}
footer a:hover {
	text-decoration: underline;
	color: #ed5565;
}
